body{
    
}
.hal_blog{
    padding: 0px;
    background: #D2E7FF;
}
.foto-blog{
    object-fit: cover;
    max-width: 157px;
    max-height: 221px;
}
.persegmen {
    background-color: #ffffff ;
    border-radius: 60px;
    border: 2px solid #FFFF;
    padding: 20px;
}
.persegmen deskripsi{
    font-family: 'Poppins', sans-serif;
}
.marginaja {
    margin-bottom: 76px;
}
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(https://i.pinimg.com/originals/c2/4d/6c/c24d6cb0a6af7ad16a33963660ca808c.gif) center no-repeat #fff;
}
