{% extends "base.html" %}
{% load static %}
{% block title %} Post {% endblock %}
{% block isi %}
<head>
    <link rel = "stylesheet" type = "text/css"  href = "{% static 'blog.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'blog.js' %}"></script>
</head>
<body>
    <div class="hal_blog">
    <div class="se-pre-con"></div>        
    {% if data %}
        {% for object_isian in data %}
            <div class="card mb-3" id ="myTable" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ object_isian.foto.url }}" class="card-img foto-blog" alt="image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body persegmen">
                            <h5 class="card-title judul">{{ object_isian.judul }}</h5>
                            <p class="card-text deskripsi">{{ object_isian.deskripsi }}</p>
                            {% if user.is_authenticated %}
                            <p><a href= "{% url 'blog:hapus' id=object_isian.id %} "> <button type="submit">Hapus</button> </a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>Belum ada Post</h1>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'blog:form_blog' %}"><button type="button" class="btn btn-light" id="btn-buat_post">Tulis Post Baru</button></a>
    {% endif %}
    <div class="marginaja"></div>

    </div>
    
    {% endblock isi %}

</body>
<div class="se-pre-con"></div>
    
