{% extends "base.html" %}
{% load static %}

{% block title %} Beranda {% endblock %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Poppins:400,400i&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'homskrip.js' %}"></script>
{% endblock %}

{% block isi %}
<div id="loading">
</div> 
<div class=".container nelayan">
    <div class="text text-center">
        <h1>Ikan<br>Segar?</h1>
    </div>    
</div>

<div class="container-fluid bg-biru">
    <div class="ikan-float">
        <img src="{% static 'images/ikan_desc_eclair.png' %}">
    </div>
    <div class="row">
        <div class="col text-ikan ukur">
            <h1>Apa itu Eclair?</h1>
            <p>Eclair adalah sebuah website yang memfasilitasi transaksi 
                antara nelayan dengan pembeli ikan.</p>
        </div>
    </div>
    
</div>

<div class="container-fluid full-layar">
    <div class="row">
        <div class="col-6 text-kenapa ukur">
            <h1>Mengapa Eclair?</h1>
            <p>Karena dengan Eclair, anda akan mendapatkan ikan segar langsung dari nelayan.   Eclair juga menyediakan informasi atau fakta mengenai ikan bagi anda yang masih bingung ingin membeli ikan apa.</p>
        </div>
        <div class="col-6 penuhin">
        </div>
    </div>
</div>

<div class="container-fluid bg-biru display-centered ujung-bawah">
    <h1 class="tengah-tengah">Testimoni pengguna Eclair</h1>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Ikan yang disediakan Eclair sangat segar dan pengantarannya pun tepat waktu. </p>
                <p class="card-text"></p>
                <p class="card-text">Terima kasih Eclaire!</p>
                <p class="card-text">Pengguna1</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Ikan yang disediakan Eclair sangat segar dan pengantarannya pun tepat waktu. </p>
                <p class="card-text"></p>
                <p class="card-text">Terima kasih Eclaire!</p>
                <p class="card-text">Pengguna1</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Ikan yang disediakan Eclair sangat segar dan pengantarannya pun tepat waktu. </p>
                <p class="card-text"></p>
                <p class="card-text">Terima kasih Eclaire!</p>
                <p class="card-text">Pengguna1</p>
            </div>
        </div>
    </div>
</div>
{% endblock isi %}