{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block isi %}
<div class="container-fluid header">
    <h1>TK 2</h1>
</div>

<div class="container-fluid">
    <div class="row regisbackground">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4>Login, Let's Go!</h4>
            <form action="{% url 'home_app:login' %}" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" id="btn_login" type="submit">Login</button>
                </div>
            </form>
            <p>Didn't have an account? <a href="{% url 'home_app:register' %}">Register Now</a></p>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock isi %}