{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Register{% endblock title %}

{% block isi %}
<div class="container-fluid header">
    <h1>TK 2</h1>
</div>

<div class="container-fluid">
    <div class="row regisbackground">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4>Register Now</h4>
            <form action="{% url 'home_app:register' %}" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                    </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <p>Already have an account? <a href="{% url 'home_app:login' %}">Login</a></p>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock isi %}