{% extends "base.html" %}
{% load static %}


{% block title %}Toko{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'toko.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock%}

{% block isi%}
<div id="loading">
</div> 

<div class="container">
    <div class="row">
        <div class="col tengah"> 
            <h1 class="text-center">Toko Ikan</h1>
            {% if not user.is_authenticated %}
                <a href="/login/">
                    <button class="btn btn-link"><h5>Buat akun!</h5></button>
                </a>
            {% else %}                
                <form action="/toko/tambah/" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-info" type="submit">Buat Toko</button>
                </form>
            {% endif %}
            <br>
            {% if daftarToko %}
            <div class="row" id="tampilanDaftar">
                {% for toko in daftarToko %}
                <div class="card">
                    <img src="{{ toko.foto.url }}" class="card-img-top fotoPas" alt="image">
                    <div class="card-body">
                        <p class="card-body">Nama Toko:<br>{{toko.nama}}<br><br>Telepon:<br> {{toko.nomorHp}} <br><br>Email:<br>{{toko.email}}</p>
                    </div>
                    {% if user.is_authenticated %}
                    <form action="hapus/" method="POST"> 
                        {% csrf_token %}
                        <!-- <input type="hidden" value="{{ toko.id }}" name="id" /> -->
                        <!-- <input type="hidden" value="{{ toko.nama }}" id="namaToko"/> -->
                        <!-- <input class="btn delete btn-danger" type="submit" value="Delete" /> -->
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            
        </div>
    </div>
</div>



<div class="isianKosong"></div>
<script>
    // let c_token = '{{ csrf_token }}'; 
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body>
<script>
    $(document).ready(function() {
    $.ajax({
        method: "GET",
        url: "/toko/jsontoko",
        success: function(toko){
            $("#tampilanDaftar").empty();
            console.log("masuk")
            for(i=0; i<toko.length; i++) {
                if(toko.length>0){
                        $("#tampilanDaftar").append(
                            "<div class='card'>" +
                                "<img src=/media/"+ toko[i].fields.foto + " class='card-img-top fotoPas'" +  "alt='image'></img>" +
                                "<div class='card-body'>" +  "<p class='card-body'>Nama Toko:<br>" +toko[i].fields.nama +"<br></br>" + 
                                "<br>Telepon:<br>"+ toko[i].fields.nomorHp + "<br><br>Email:<br>" + toko[i].fields.email + "</p>" +
                                "{% if user.is_authenticated%}" + 
                                    "<form action='hapus/' method='POST'>" + "" + 
                                        "<input name='csrfmiddlewaretoken' type='hidden' value='" + "{{ csrf_token }}" + "' />" +
                                        "<input type='hidden' value='"+ toko[i].pk + "' name='id' />" + 
                                        "<input type='hidden' value='" + toko[i].fields.nama + "' id='namaTok'/>" + 
                                        "<input class='btn delete btn-danger' type='submit' value='Delete' /></form>{% endif %}</div></div>"
                            
                        );
                    }
                if(toko.length>1){
                    $("#tampilanDaftar").append("<div class='gaada'>" + "<h4> Wah, belum ada toko yang menjual ikan.<br> Mungkinkah kamu mau jadi yang pertama? </h4></div>")
                }
            }
        }
    })

    $( ".card" ).hover(function() {
        $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
    }, function() {
        $(this).removeClass('shadow-lg');
    }
    );

    $('.delete').click(function() {
        $("#namaTok").val();
        if(confirm("Yakin ingin menghapus " + $("#namaTok").val() + "?")){
            return true;
        }else{
            return false;
        }
    });
});

    $(window).load(function() {
        $('#loading').hide();
    });
</script>
{% endblock isi %}