{% extends "base.html" %}
{% load static %}


{% block title %}Tambah Toko{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'tambahToko.css' %}">
{% endblock%}

{% block isi%}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card form-buatToko">
            <h5 class="card-header header-form">Buat Toko</h5>
            <div class="card-body">
                <form class="text-left" id="form" enctype="multipart/form-data" method="POST" action="buat/">
                    {% csrf_token %}
                    <hr>
                    <div class="row">
                            <div class="col-lg">
                                <h5>Logo/Foto Toko</h5>
                            </div>
                            <div class="col-lg">
                                {{form.foto}}
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-lg">
                            <h5>Nama Toko</h5>
                        </div>
                        <div class="col-lg">
                            <h4 class="">{{form.nama}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <h5>Nomor Telepon</h5>
                        </div>
                        <div class="col-lg">
                            <h4>{{form.nomor}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <h5>Email</h5>
                        </div>
                        <div class="col-lg">
                            <h4>{{form.email}}</h4>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg">
                            <a href="/toko/">
                                <button class="btn btn-warning">Kembali</button>
                            </a>
                        </div>
                        <div class="col-lg">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}