{% extends "base.html" %}
{% load static %}
{% block title %} Daftar Ikan {% endblock %}
{% block isi %}
<link rel="stylesheet" href="{% static 'css/style_ikan.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(() =>{
    $.ajax({
        method: 'GET',
        url: '/beli/datajson', 
        success: function(result){
          $("#card_ikan").empty();
          for(i=0; i < result.length ; i++) {
            let foto = result[i].fields.foto;
            let jenis = result[i].fields.jenis;
            let harga = result[i].fields.harga;
            let deskripsi = result[i].fields.deskripsi;
            let nama_toko = result[i].fields.namaToko;
            let prim_key = result[i].pk;
            console.log(prim_key);
    
            if(foto == undefined){
              foto = "No Foto"
            }
    
            if(jenis == undefined){
              jenis = "No Jenis"
            }
    
            if(harga == undefined){
              harga = "No harga"
            }
    
            if(deskripsi == undefined){
              deskripsi = "No deskripsi"
            }
    
            if(nama_toko == undefined){
              nama_toko = "No nama toko"
            }
    
            $("#card_ikan").append(
            "<div class='card' style='width: 18rem;'>" +
            "<img src=/media/" + foto + " class='card-img-top'" + "alt='image'>" + 
                "<div class='card-body'>" +
                    '<p class="card-text">' + jenis + '</p>' + 
                    '<p class="card-text">' + harga + '</p>' + 
                    '<p class="card-text">' + deskripsi + '</p>' + 
                    '<p class="card-text">' + nama_toko + '</p>' + 
                "{% if user.is_authenticated %}" + 
                '<p><a href=/beli/delete/' + prim_key + '>' + '<button type="submit" class="btn btn-danger btn_hapus_ikan">Hapus</button> </a></p>' +
                "{% endif %}" +
                "</div>"+
            "</div>");
            }
        }
    });

    $( ".card" ).hover(function() {
        $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
    }, function() {
        $(this).removeClass('shadow-lg');
    }
    );
        
    $('.btn_hapus_ikan').click(function() {
        if(confirm("Yakin ingin menghapus ikan?")){
            return true;
        }else{
            return false;
        }
    });
});
</script>
<script src="{% static 'js/attitude_ikan.js' %}"></script>

<div id="loading">
</div>

{% if not user.is_authenticated %}
    <div>
        <h3>Login untuk menambah atau mengurangi ikan</h3>
    </div>
{% endif %}

{% if semua_ikan %}
<div class="row" id="card_ikan">
</div>
{% else %}
    <h1>Belum ada Ikan</h1>
{% endif %}

{% if user.is_authenticated %}
    <a href="{% url 'beli_ikan:terima' %}"><button type="button" class="btn btn-light" id="btn-buat_ikan">Daftar Ikan Baru</button></a>
{% endif %}

<div id="Jarak"></div>

{% endblock isi %}