{% extends "base.html" %}
{% load static %}


{% block title %} Frequently Ask Question {% endblock %}


{% block isi %}
<link rel="stylesheet" href="{% static 'faqcss.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->


<body style="background-color:#D2E7FF;">

    <div id="loading">
</div>


    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for answer..">

<label class="switch">
    <input class ="toggle" type="checkbox">
    <span class="slider"></span>
</label>


{% if user.is_authenticated %}
    <h1>Helloo {{user}} !!!</h1>
    {% endif %} 


<h1 id="faq">Frequently Ask Question</h1>

<br>
<br>
<br>

<ul id="myUL">

<li>
<div id="accordions">
    <button class ="accordion">
        <h3>
        <a href="#">Apakah ikan yang disediakan dapat dikirim lewat pesawat? </h3> </a>
        <img src="{% static 'images/arrow-down-icon-png-3.png' %}" style="max-width:40px;float:right;">
    </button>
    <div class="panel">
        <br>
        <p style="color : black">
            <a href="#">
        Bisa, saat ini kami mempunyai partner penyedia angkutan udara seperti Singa Air dan Pancasila Air
        </a>
        </p>
        <br>
 </div>
</li>

<li>
<div id="accordions">
    <button class ="accordion">
        <h3>
        <a href="#">ikan yang enak dimakan?</h3> </a>
        <img src="{% static 'images/arrow-down-icon-png-3.png' %}" style="max-width:40px;float:right;">
    </button>
    <div class="panel">
        <br>
        <p style="color : black">
            <a href="#">
        ikan bawal goreng, baked salmon 
        </a>
        </p>
        <br>
</div>
</li>

<li>
<div id="accordions">
    <button class ="accordion">
        <h3>
        <a href="#">Kalau ubur-ubur bisa nyetir mobil namanya jadi uber-uber?  </h3> </a>
        <img src="{% static 'images/arrow-down-icon-png-3.png' %}" style="max-width:40px;float:right;">
    </button>
    <div class="panel">
        <br>
        <p style="color : black">
            <a href="#">
        wkwkwkwk
        </a>
        </p>
        <br>
</div>
</li>

<li>
<div id="accordions">
    <button class ="accordion">
        <h3>
        <a href="#">Apakah ikan yang dijual disini fresh?</h3> </a>
        <img src="{% static 'images/arrow-down-icon-png-3.png' %}" style="max-width:40px;float:right;">
    </button>
    <div class="panel">
        <br>
        <p style="color : black">
            <a href="#">
        Semua jenis ikan yang kami sediakan disini sangat fresh karena langsung dijual setelah dipancing dari laut.
        </a>
        </p>
        <br>
</div>
</li>

<li>
<div id="accordions">
    <button class ="accordion">
        <h3>
            <a href="#">
                Jenis ikan apa saja yang disediakan di eclair?</h3> 
                </a>
        <img src="{% static 'images/arrow-down-icon-png-3.png' %}" style="max-width:40px;float:right;">
    </button>
    <div class="panel">
        <br>
        <p style="color : black">
            <a href="#">
        Kami menyediakan berbagai jenis ikan yang terdapat dilaut..
        </a>
        </p>
        <br>
</div>
</li>


<li>
<div id="accordions">
    <button class ="accordion">
        <h3>
            <a href="#">
                Siapa saja dibalik eclair?</h3> 
                </a>
        <img src="{% static 'images/arrow-down-icon-png-3.png' %}" style="max-width:40px;float:right;">
    </button>
    <div class="panel">
        <br>
        <p style="color : black">
            <a href="#">
        Evando, Nasywa, Mudrik, Felicia
        </a>
        </p>
        <br>
</div>
</li>

<li>
<div id="accordions">
    <button class ="accordion">
        <h3>
            <a href="#">
                Kenapa eclair?</h3> 
                </a>
        <img src="{% static 'images/arrow-down-icon-png-3.png' %}" style="max-width:40px;float:right;">
    </button>
    <div class="panel">
        <br>
        <p style="color : black">
            <a href="#">
        Karena eclair sangat terpercaya dan hanya menyediakan ikan yang berkualitas baik..
        </a>
        </p>
        <br>
</div>
</li>

<li>
<div id="accordions">
    <button class ="accordion">
        <h3>
            <a href="#">
                Apakah eclair menjual ikan hias?</h3> 
                </a>
        <img src="{% static 'images/arrow-down-icon-png-3.png' %}" style="max-width:40px;float:right;">
    </button>
    <div class="panel">
        <br>
        <p style="color : black">
            <a href="#">
        Kami hanya menyediakan ikan yang dapat dimakan oleh manusia biasa.
        </a>
        </p>
        <br>
</div>
</li>


</ul>




<button onclick="topFunction(0,0)" id="myBtn" title="Go to top">Top</button>
<div id='divkosong'>
</div>

<br>



<br>
<br>

<div class="container" id="tanya">
<div class="row" id="pertanyaans" style="justify-content: center; text-align : center;">
    <form method="POST">
    {% csrf_token %}
    <div style="background-color: white; padding: 0px" id="faq">
        <h4 style="color : black"> Ada pertanyaan lain? </h4>
        <p style="color : black"> Silahkan tuliskan pertanyaan anda disini :) </p>
        {{ form.as_p }}
    </div>
    <div>
        <button type='submit' class="save">
            <img src="{% static 'images/sendButton.PNG' %}" alt="send button" border="5px" style="width:50px;height:50px" >
        </button>
    </form>
  </div>
</div>
</div>

<br>
<br>
<br>
<h4 style='color : black ;justify-content: center; text-align : center;'> Berikut merupakan pertanyaan-pertanyaan yang kalian tanyakan kepada kami! </h4>

<div id="daftarPertanyaan">

</div>



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="http://www.pureexample.com/js/lib/jquery.ui.touch-punch.min.js"></script>
<script src="{% static 'faq.js' %}"></script>
<script>
    $(document).ready(function() {

    $.ajax({
        method: "GET",
        url: "/faq/webservice/",
        success: function(pertanyaan){
           console.log('haiii ini console lognya pertanyaan');
            for(i=0; i<pertanyaan.length; i++) {
                if(pertanyaan.length>0){
                    $("#daftarPertanyaan").append(
                        "<div style='color : black ;justify-content: center; text-align : center;'><br>Pertanyaan :"+ pertanyaan[i].fields.pertanyaan + "</p></div>" 
                    );
                }
                else{
                }
            }
        }
    });})
</script>
<br>
<br>
<br>

</body>

<br>
<br>
<br>
{% endblock isi %}
