{% extends "base.html" %}
{% load static %}

{% block title %} Frequently Ask Question {% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static './faqcss.css' %}">
{% endblock %}


{% block isi %}

<h1 id="faq">Frequently Ask Question</h1>

<br>

<div class="row" id="tanya">
	<div class="col-6 " style="background-color: white; padding: 10px; text-align: center;" id="faq">
		<p> Silahkan tuliskan pertanyaan anda disini :) </p>	
	</div>
	<div class="col-6">
  		<img src="{% static 'images/sendButton.png' %}">
  </div>
</div>



<br>
<br>


{% endblock isi %}