.nelayan{
    background-image: url("./images/Group 1ikan_segar.png");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 58px);
    width: 100vw;
    max-width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.text {
    margin-top: 15rem;
    color: white;
}

.text h1{
    font-size: 96px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1{
    font-weight: 700;
    margin: 1%;
}

h2{
    font-weight: 500;
    margin: 1%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .logo-navbar{
        display: none;
    }
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #393F45;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10pt;
}

#copri{
    align-items: center;
    color: #FAFAFA;
}

.logo-item{
    width: 50px;
    height: 50px;
}

.bg-biru{
    background-color: #D2E7FF;
    min-height:100vh;
    padding:0px;
}

.display-centered{
    text-align: center;
}

.text-ikan{
    background-color: rgb(255, 255, 255);
    padding-top: 15%;
    padding-bottom: 15%;
    margin-top: 15rem;
}

.ikan-float{
    float: right;
    margin-top: 5rem;
}

.full-layar{
    height: 100vh;
}

.penuhin{
    background-image: url("./images/bakul_ikan.png");
    background-size: cover;
    height: 100vh;
}

.text-kenapa{
    margin-top: 15%;
}

.tengah-tengah{
    margin:0;
    padding-top: 5rem;
}

.ujung-bawah{
    min-height: calc(100vh - 76.6666px);
    font-size: 24px;
}

.ujung-bawah .row{
    margin:0;
}

.text-ikan h1{
    font-size: 40px;
}

.ukur{
    font-size: 36px !important;
}

h1{
    font-size: 48px;
}

#loading {
    width: 100vw;
    height: 100vh;
    /* animation: spin 2s linear infinite; */
    background: url(https://i.pinimg.com/originals/c2/4d/6c/c24d6cb0a6af7ad16a33963660ca808c.gif) center no-repeat #fff;
  }