body {
    min-height: 100vh;
    /* background-color: red; */
}

.fotoPas{
    height: 250px !important;
    width: 250px !important;
}

.gaada{
    height: calc(100vh - 58 - 76.6666);
}

.container{
    min-height: 100% !important;
}

.card{
    margin: 5px !important;
    align-items: center;
}

.card-body{
    margin-bottom: 0;
    padding-bottom: 5px;
}

.delete{
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.shadow-lg{
    transition: box-shadow .3s;
    border: 1.5px solid #cfcfcf;
    background: #fff;
    float: left;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.isianKosong{
    margin-bottom: 90px;
}

#loading {
    width: 100vw;
    height: 100vh;
    /* animation: spin 2s linear infinite; */
    background: url(https://i.pinimg.com/originals/c2/4d/6c/c24d6cb0a6af7ad16a33963660ca808c.gif) center no-repeat #fff;
  }