#btn-tambahIkan{
    margin-top: 10pt;
    margin-bottom: 10pt;
    background-color: #393F45;
    color: #FFFFFF;
}

#btn-buat_ikan{
    margin-bottom: 10pt;
    background-color: #FFE9E3;
}

.card{
    margin-top: auto;
    margin-bottom: auto;
    margin: 50px;
}

.form-buatIkan{
    background-color: #5F86EF;
    display: flex;
    justify-content: center;
}

.header-form{
    background-color: #FAFAFA;
}

.header{
    display: flex;
    justify-content: center;
}

.search-box{
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.book-display{
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.shadow-lg{
    transition: box-shadow .3s;
    border: 1px solid #cfcfcf;
    background: #fff;
    float: left;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#loading {
    width: 100vw;
    height: 100vh;
    /* animation: spin 2s linear infinite; */
    background: url(https://i.pinimg.com/originals/c2/4d/6c/c24d6cb0a6af7ad16a33963660ca808c.gif) center no-repeat #fff;
  }

#Jarak{
    margin: 20vh;
}