body { 
	background-color: #987238;
}


h1 {
  color: #323232;
  text-align: center;
}


#loading {
    width: 100vw;
    height: 100vh;
    /* animation: spin 2s linear infinite; */
    background: url(https://i.pinimg.com/originals/c2/4d/6c/c24d6cb0a6af7ad16a33963660ca808c.gif) center no-repeat #fff;
  }

.rectangle {
  height: 350px;
  width: 920px;
  background-color: #F8E2C3;
  /*border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  margin-left: auto;
  margin-right: auto;
}

.row, #tanya {
  justify-content: center;
  text-align: center;
  display: flex;
}

#id_pertanyaan,{
  justify-content: center;
  text-align: center;
  display: inline-block;
   
}

body {
  margin :0;
  padding:0;
  font-family: sans-serif;
  transition: 0.5s;
  color : white;
}



body.night{
  background: #00151F;
}

.day {
  background-color: #FFFFFF;
  color : #123456;
}


.content {
    margin: 100px auto;
    width: 1000px;
}

.content h1{
    margin:0 0 20px;
    padding: 0;
    color: #000;
    transition:0.5s;
/*  font-size: ;*/
}

.content p{
    margin:0;
    padding: 0;
    color: #000;
    transition:0.5s;
    font-size:18px ;
}

body.night .content h1,
body.night .content p {
    color: #FFF;
}

div {
    background-color: inherit;
}

/*batas accordion*/

p{
    font:18px Lato, sans-serif;
}

.day {
    background-color: #FFFFFF;
    color : #123456;
}

h3{
    display: inline;
}

img {
    display: block;
    float: right;
}

.accordion {
  background-color: #FFF;
  color: #444; //ganti
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: inherit;
  color: inherit;
  display: none;
  overflow: hidden;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}


.switch{
  margin-left: 45%;
  margin-right: auto;
  width: 50px;
}




#myBtn {
  display: none;
  position: fixed;
  bottom: 85px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}


#divkosong {
  margin-bottom: 20vh;
}